.hide {
  display: none;
}

.crop-container {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1111;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 50px;
}

.crop-box {
  background-color: #fff;
  border-radius: 3px;
  width: 520px;
}

.crop-box .crop-box-header {
  border-bottom: 1px solid #ddd;
  padding: 12px;
  position: relative;
}

.crop-box .crop-box-header h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
}

.crop-box .crop-box-body {
  padding: 10px;
}

.crop-box .crop-box-footer {
  border-top: 1px solid #ddd;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.crop-box .crop-box-footer a:last-child {
  margin-left: 5px;
}

.crop-box .crop-box-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: 0;
}

.crop-box .crop-box-close span {
  color: #657786;
  font-size: 18px;
  line-height: 24px;
}

.crop-box .crop-box-close span::before {
  content: "x";
}