<section>
  <a class="btn btn-primary" [ngClass]="viewConfig.uploadBtnClass"  onclick="document.getElementById('inputImage').click()">{{viewConfig.uploadBtnName}}</a>
  <input id="inputImage" type="file" class="hide" hidden>
</section>
<section class="crop-container" *ngIf="isShow === true">
  <div class="crop-box">
    <div class="crop-box-header">
      <h3>{{viewConfig.title}}</h3>
      <button type="button" class="crop-box-close" (click)="onCancel()">
        <span></span>
      </button>
    </div>
    <div class="crop-box-body">
      <figure style="height: 300px;">
        <img id="cropper-image" class="full-width">
      </figure>
    </div>
    <div class="crop-box-footer">
      <a class="btn btn-default" [ngClass]="viewConfig.cancelBtnClass"  (click)="onCancel()">{{viewConfig.cancelBtnName}}</a>
      <a class="btn btn-primary" [ngClass]="viewConfig.applyBtnClass"  (click)="onApply()">{{viewConfig.applyBtnName}}</a>
    </div>
  </div>
</section>
